@charset "utf-8";
/* login */
.reg-bg{
    height: 520px;
    position: absolute;
    left: 50%;
    margin-left: -810px;
}
.login-wrap{
    position: relative;
}
.box{
    position: absolute;
    right: 0;
    width: 350px;
    height: 400px;
    background-color: rgba(114, 220, 247, 0.5);
    margin-top: 50px;
    text-align: center;
    border-radius: 20px;
}
.box h2{
    color: tomato;
    font-size: 25px;
    padding-top: 50px;
}
div.text{
     width:300px;
     height: 30px;
     margin : 30px 0;
     display: flex;
    justify-content: center;
    align-items: center;
   
 }
 input{
     width: 200px;
     height:30px;
     
 }
 #btnLogin{
     width: 250px;
     height: 30px;
     border: none;
     background: rgb(4, 175, 243);
     font-size: 20px;
     margin-top: 20px;
     border-radius: 10px;
 }
 #btnLogin:hover{
     color: #ffffff;
 }
 .login .login-wrap .regbox{
     margin-top: 20px;
     color: red;
 }
 .login .login-wrap .regbox:hover a{
     color: #fff;
     text-decoration: underline;
 }