@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{
    margin:0;
    padding:0;
}
body{
    font-size:16px;
    font-family: "微软雅黑";
}
h1,h2,h3,h4,h5,h6{
    font-size:16px;
    font-weight: normal;
}
ul,ol,li{
    list-style:none;
}
em,i{
    font-style: normal;
}
b,strong{
    font-weight: normal;
}
a,u{
    text-decoration: none;
    color: black;
}
img{
    border:0;
}
input{
    outline: none;
}
.clear_fix:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility: hidden;
}
.clear_fix{
    zoom:1;
}
.float_left{
    float: left;
}
.float_right{
    float: left;
}

