@charset "utf-8";
body{
    background-color: #fff;
}
#shopingcar .shoping-top{
    width: 1100px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
#shopingcar .shoping-top h2{
    font-weight: bold;
}
#shopingcar .shopingcar-con{
    min-height: 200px;
    width: 1100px;
}
#shopingcar .shopingcar-con .shopingcar-title{
    height: 34px;
    line-height: 34px;
    /* color: #ddd; */
    font-size: 12px;
    border: solid 1px #eeeeee;
}
#shopingcar .shopingcar-con .shopingcar-title li{
    width: 110px;
    float: left;
}
#shopingcar .shopingcar-con .shopingcar-title .check{
    padding: 0 20px;
}
#shopingcar .shopingcar-con .shopingcar-title .check input{
    margin-right: 5px;
}
#shopingcar .shopingcar-con .shopingcar-title .msg1{
    width: 425px;
}
#shopingcar .shopingcar-con .shopingcar-title .msg3{
    padding: 0 30px;
}
#shopingcar .shopingcar-con .pro-list .pro_title{
    height: 36px;
    padding: 20px;
    font-weight: bold;
}
#shopingcar .shopingcar-con .pro-list .pro_title i{
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: black;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    margin-left:20px;
}
#shopingcar .shopingcar-con .pro-list .pro_con{
    min-height: 200px;
    border: solid 1px #eeeeee;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-title{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: start;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-title p{
    background: url(../images/shoppingcar_msg.jfif) no-repeat center;
    width: 90px;
    display: block;
    color: red;
    padding-left: 10px;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-title span{
    color: #ccc;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-title a{
    color: aqua;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con{
    height: 170px;
    display: flex;
    font-size: 12px;
    align-items: center;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con .con-check{
    margin-left: 30px;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con .imgbox{
    padding-right: 20px;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con dd{
    width: 80px;
    height: 80px;
    float: left;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con dt img{
    width: 14px;
    height: 14px;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con dt {
    line-height: 20px;
    margin-left: 10px;
    min-height: 50px;
    width: 300px;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con dt a{
    display: block;
    height: 40px;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con li{
    min-width: 120px;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con .con2{
    width: 460px;
}
#shopingcar .monma{
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px red solid;
    border-radius: 10px;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con .con4 input{
    width: 20px;
    height: 20px;
}
#shopingcar .shopingcar-con .pro-list .pro_con .con-con .con4 span{
    display: inline-block;
    width: 50px;
    height: 15px;
    border: solid 1px black;
    background-color: #fff;
}
#shopingcar .shopingcar-con .pro-list .pro_con .pro-jiesuan{
    padding:10px;
    font-size: 12px;
    border: #eeeeee solid 1px;
}
#shopingcar .shopingcar-con .pro-list .pro_con .pro-jiesuan p{
    float:right;
    margin-right: 30px;
}
#shopingcar .shopingcar-bottom{
    height:60px;
    width: 1080px;
    position: sticky;
    bottom: 0;
    padding-left: 20px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#shopingcar .shopingcar-bottom ul{
    margin-left: 260px;
}
#shopingcar .shopingcar-bottom li{
    width: 200px;
    float: left;
}
#shopingcar .shopingcar-bottom p{
    font-size: 12px;
    color: #aaa;
}
#shopingcar .shopingcar-bottom .con1{
    padding-top: 25px;
}
#shopingcar .shopingcar-bottom b{
    font-size: 18px;
    color: red;
    font-weight: bold;
}
#shopingcar .shopingcar-bottom p b{
    font-size: 12px;
    color: #aaa;
    font-weight:normal;
}
#shopingcar .shopingcar-bottom .bottom-r{
    background-color: gray;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
